{% extends 'base.html' %}
{% load bootstrap4 %}
{% block conteudo %}
<section data-bs-version="5.1" class="header1 cid-tWoy120EB9" id="header01-1i">
    <div class="container">
        <div class="row justify-content-center border border-ligth">
            <div class="col-12 p-5">
                <h6 class="mbr-section-subtitle mbr-fonts-style mb-4 display-3">
                    Criar Cliente
                </h6>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary" value="Criar">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock conteudo %}