{% extends 'base.html' %}
{% load bootstrap4 %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
{% endblock extra_head %}
{% block conteudo %}
<section data-bs-version="5.1" class="header1 cid-tWoy120EB9" id="header01-1i">
    <div class="container">
        <table id="tabela" class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Escritório</th>
                <th scope="col">Cliente</th>
                <th scope="col">Veículo</th>
                <th scope="col">Fim do contrato</th>
                {% for group in user.groups.all %}
                {% if group.name == 'especiais' %}
                <th scope="col">#</th>
                {% endif %}
                {% endfor %}

            </tr>
            </thead>
            <tbody>
            {% for c in contratos %}
            <tr>
                <td>
                    {{ c.numEscritorio.nome }}
                </td>
                <td>
                    {{ c.cliente.nome }}
                </td>
                <td>
                    {{ c.veiculo.tipoVeiculo.nome }}
                </td>
                <td>
                    {{ c.duracao }}
                </td>

                {% for group in user.groups.all %}
                {% if group.name == 'especiais' %}
                <td style="font-size: x-large">
                    <a href="{% url 'removerContrato' c.id %}" class="bi bi-trash"></a>
                </td>
                {% endif %}
                {% endfor %}
                {% empty %}
                <td colspan="5">Sem contratos cadastrados!!!</td>
                <a href="{% url 'criarContrato' %}" role="button">Cadastrar</a>
                {% endfor %}
            </tr>
            </tbody>
        </table>

    </div>
</section>
{% endblock conteudo %}
{% block extra_body %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#tabela').DataTable({
        "language": {
            "lengthMenu": "_MENU_ elementos por página",
            "zeroRecords": "Nada encontrado - desculpe",
            "info": "_PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum veículo cadastrado",
            "infoFiltered": "(filtrado de _MAX_ elementos)",
            "paginate": {
                "first": "Primeiro",
                "last": "Ultimo",
                "next": "Próximo",
                "previous": "Anterior"
            },
            "search": "Pesquisar:",
        },
        "aLengthMenu": [[5, 10, 15, 20, 25, -1], [5, 10, 15, 20, 25, "Todos"]],
        "iDisplayLength": 5});
    });

</script>
{% endblock extra_body %}
{% block remove_on_lista_veiculos %}{% endblock remove_on_lista_veiculos %}

