{% load static %}
<section data-bs-version="5.1" class="header1 cid-tWoy120EB9" id="header01-1i">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-8 image-wrapper">
                <img class="w-100" src="{% static 'assets/images/mbr-1471x765.jpg' %}" alt="Mobirise Website Builder">
            </div>
            <div class="col-12 col-lg col-md-12">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Um carro para qualquer situação.</strong></h1>
                </div>
            </div>
        </div>
    </div>
</section>