{% load static %}
<section data-bs-version="5.1" class="features4 cid-tWoHS0vKaj" id="features04-1m">


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Nossa Frota</strong></h4>


                </div>
            </div>
        </div>

        <div class="row">
            {% for c in cars %}
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="media/{{ c.foto }}" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>{{ c.nome }}</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                        <div class="mbr-section-btn item-footer text-center">
                            <a href="" class="btn item-btn btn-primary display-7">Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>


            {% empty %}

            {% endfor %}

        </div>


    </div>
</section>
