{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %} Cadastrando novo usuário {% endblock %}

{% block conteudo%}
<section data-bs-version="5.1" class="header1 cid-tWoy120EB9" id="header01-1i">

    <div class="container">
        <div class="row justify-content-center border border-ligth">
            <div class="col-12">
                <h6 class="mbr-section-subtitle mbr-fonts-style mb-4 display-3">
                    Cadastro
                </h6>
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="align-center">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}