{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %} Faça o Login {% endblock %}
{% block extra_head %}
<style>
    .alert-danger{
            color: #842029 !important;
            background-color: #f8d7da !important;
            border-color: #f5c2c7 !important;
        }
</style>
{% endblock %}

{% block conteudo%}

<section data-bs-version="5.1" class="header1 cid-tWoy120EB9" id="header01-1i">

    <div class="container">
        <div class="row justify-content-center border border-ligth">
            <div class="col-12">
                <h6 class="mbr-section-subtitle mbr-fonts-style mb-4 display-3">
                    Login
                </h6>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary" value="Entrar">
                </form>
                <p>Não possui uma conta? <a class="text-info" href="{% url 'cadusuario' %}">Crie aqui!</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}